.halfCircle {
    margin-top: -50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border: 1px solid var(--grey-color);
    border-top: 0;
    z-index: 1;
    position: absolute;
    top: 35%
}

.halfCircleContainer {
    position: relative;
    width: 100%;
    height: 100%
}

.sizeText {
    position: absolute;
    backdrop-filter: blur(4px);
    border-radius: 10px;
    background-color: var(--grey-color);
    padding: 1px 16px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
}