.layout {
    height: 800px;
    width: 375px;
    position: relative;
}

.blurBackground {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 48px;
    z-index: 100;
    height: calc(100% - 48px);
    background: rgba(218, 218, 229, 0.4);
    backdrop-filter: blur(30px);
}